.DS_Store
.idea/
*.iml
.vscode/
*.log
secrets/*.json

.env
.env.local
nightdrive-db-data/

api/.env
api/bin/
api/vendor/

zen-engine/.env
zen-engine/venv/
zen-engine/.venv/
**/__pycache__/
**/*.py[cod]
**/*.so
.ipynb_checkpoints/

client/node_modules/
client/vendor/
client/.env
client/npm-debug.log*
client/*.jsbundle
client/coverage/
client/.expo/

client/ios/Pods/
client/ios/build/
client/ios/DerivedData/
client/ios/*.xcworkspace
client/ios/*.xcuserstate
client/ios/vendor/

client/android/app/build/
client/android/build/
client/android/.cxx/
client/android/.gradle/
client/android/local.properties
*.keystore
*.jks
*.apk
*.aar

**/fastlane/test_output
**/android/.cxx/
**/android/.externalNativeBuild/
**/android/app/.cxx/
**/*.cmake
**/CMakeCache.txt
**/CMakeFiles/
**/Makefile
**/cmake_install.cmake
**/app/build/intermediates/
