# macOS
.DS_Store

# Node
node_modules/
npm-debug.log*
yarn-error.log*
.pnpm-debug.log*

# React Native
*.jsbundle
/coverage

# iOS
ios/Pods/
ios/build/
ios/DerivedData/
ios/*.xcworkspace
ios/*.xcuserstate
**/.xcode.env.local

# Android build artifacts
android/app/build/
android/build/
android/.cxx/
android/.gradle/
*.keystore
*.jks
*.apk
*.aar
*.so

# C++ / CMake temporary files
.externalNativeBuild/
IPCH/
# IDE
.idea
*.iml

# Fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Yarn 2+
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Env
.env

# Ruby / Bundler
.bundle/
vendor/bundle/

