.DS_Store
.idea/
*.iml
.vscode/

api/.env
api/bin/
api/vendor/

client/node_modules/
client/.env
client/npm-debug.log*

client/*.jsbundle
client/coverage/
client/.expo/

client/ios/Pods/
client/ios/build/
client/ios/DerivedData/
client/ios/*.xcworkspace
client/ios/*.xcuserstate

client/android/app/build/
client/android/build/
client/android/.cxx/
client/android/.gradle/
client/android/local.properties
*.keystore
*.jks
*.apk
*.aar

**/fastlane/test_output