<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>

	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>

	<key>CFBundleDisplayName</key>
	<string>NightDrive</string>

	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>

	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>

	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>

	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>

	<key>CFBundlePackageType</key>
	<string>APPL</string>

	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>

	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>

	<key>GoogleMapsApiKey</key>
	<string>$(GOOGLE_API_GENERAL_KEY)</string>

	<key>LSRequiresIPhoneOS</key>
	<true/>

	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>

	<key>NSLocationWhenInUseUsageDescription</key>
	<string>NightDrive uses your location to provide navigation and real-time route guidance.</string>

	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>NightDrive uses your location in the background to keep your driving session synced with friends, even when your screen is locked.</string>

	<key>NSMicrophoneUsageDescription</key>
	<string>NightDrive uses the microphone for voice commands and live group voice communication while driving.</string>

	<key>NSSpeechRecognitionUsageDescription</key>
	<string>NightDrive uses speech recognition to accurately process and transcribe your voice commands.</string>

	<key>RCTNewArchEnabled</key>
	<true/>

	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>

	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>

	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>

	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>

	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>

</dict>
</plist>
